/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '~font-awesome/css/font-awesome.css';
:root{
  --dark: #213e3b;
  --m-dark: #41aea9;
  --m-light: #a6f6f1;
  --light: #e8ffff;
}

header{
  background: var(--dark);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(65, 174, 169)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(232,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


footer{
  background: var(--dark);
  color: var(--m-dark);
  padding: 1.5rem;
}

.footer-text{
  font-size: 0.8rem;
}


.jumbotron-fluid{
background: var(--m-dark);
color: var(--light);
}

.dark-button{
  background: var(--dark);
  color: var(--m-light)
}

.dark-button:hover {
  background: var(--light);
  color: var(--dark);
}

body{
  background: var(--light);
  padding: 0;
  margin: 0;
}

a {

  color: var(--m-dark)
}

a:hover {
  color: var(--light);
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
