<footer class="container-fluid">
    <div class="d-lg-flex justify-content-between">
        <div>
            <p>Useful Links</p>
            <ul class="nav flex-column footer-text">
                <li class="nav-item"><a class="nav-link" href=#>Home</a></li>
                <li class="nav-item"><a class="nav-link" href=#>Shop</a></li>
                <li class="nav-item"><a class="nav-link" href=#>Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href=#>About Us</a></li>
            </ul>
        </div>
        <div>
            <p>Our Location</p>
            <address class="ml-3 footer-text">
                P. Sherman,<br/>
                42 Wallaby Way,<br/>
                Sydney,<br/>
                Australia.<br/>
            </address>
        </div>
        <div class="">
            <p>Our Socials</p>
            <ul class="nav flex-column ml-3 footer-text">
                <li class="nav-item"><a class="nav-link" href="#"><i style="color:#4267B2;" class="fa fa-facebook-square fa-3x"></i> Facebook</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i style="color: #1DA1F2" class="fa fa-twitter-square fa-3x"></i> Twitter</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i style="color: #405DE6;" class="fa fa-instagram fa-3x" aria-hidden="true"></i> Instagram</a></li>
            </ul>
        </div>
        <div class="footer-text my-5">
            <p>&copy; 2021</p>
            <p>Built by Narindra Balkissoon</p>
        </div>
    </div>

</footer>
